SysproIntegration/Service References/SysproWCF/SYSPROWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SYSPROWcfService" elementFormDefault="qualified" targetNamespace="http://SYSPROWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20091/SYSPROWCFService?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetLogonProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogonProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetLogonProfileResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Run">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="RunResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryQueryW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryQueryWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryQueryWResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionPostW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlParameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionPostWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionPostWResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetImageResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="GetSystemInformationResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="GetVersionResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallGC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallGCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="CallGCResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="EncryptResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSYSPROMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultimediaFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnetGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSYSPROMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="GetSYSPROMediaResult" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSYSPROImageThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultimediaFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnetGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Width" type="xs:int" />
        <xs:element minOccurs="0" name="Height" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSYSPROImageThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="GetSYSPROImageThumbnailResult" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperatorPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LogLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncoreInstance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="LogonResult" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logoff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="LogoffResult" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBrowse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBrowseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="QueryBrowseResult" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFetch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFetchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="QueryFetchResult" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/Message" name="QueryQueryResult" type="q14:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/Message" name="NextKeyResult" type="q15:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviousKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviousKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/Message" name="PreviousKeyResult" type="q16:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlParameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="SetupAddResult" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlParameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/Message" name="SetupDeleteResult" type="q18:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlParameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/Message" name="SetupUpdateResult" type="q19:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/Message" name="TransactionBuildResult" type="q20:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessObject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlParameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/Message" name="TransactionPostResult" type="q21:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBusinessObjectQueryStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BOName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlInstance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UniqueParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBusinessObjectQueryStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/Message" name="CallBusinessObjectQueryStreamResult" type="q22:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBusinessObjectQueryBinaryStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BOName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XmlInstance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UniqueParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallBusinessObjectQueryBinaryStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="CallBusinessObjectQueryBinaryStreamResult" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UniqueParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/Message" name="GetDashboardsResult" type="q24:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwfSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DashboardName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UniqueParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwfSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/Message" name="GetSwfSizeResult" type="q25:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDashboardScriptFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dashboard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GadgetDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UniqueParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDashboardScriptFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/Message" name="QueryDashboardScriptFileResult" type="q26:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCredentialKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCredentialKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/Message" name="GenerateCredentialKeyResult" type="q27:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSYSPRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchParm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CallerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReturnXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSYSPROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/Message" name="SearchSYSPROResult" type="q28:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockCodeXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockCodeXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/Message" name="StockCodeXmlResult" type="q29:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockCodeImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockCodeImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/Message" name="StockCodeImageResult" type="q30:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/Message" name="CMSImageResult" type="q31:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideMainFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideMainFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/Message" name="ProvideMainFileResult" type="q32:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideImageFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideImageFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/Message" name="ProvideImageFileResult" type="q33:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/Message" name="SearchCustomerDataResult" type="q34:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSupplierData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSupplierDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/Message" name="SearchSupplierDataResult" type="q35:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContactData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContactDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/Message" name="SearchContactDataResult" type="q36:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>