SysproIntegration/Web References/SysproWS_Transaction/Transaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.syspro.com/ns/transaction/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.syspro.com/ns/transaction/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.syspro.com/ns/transaction/">
      <s:element name="Build">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLParameters" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuildSoapIn">
    <wsdl:part name="parameters" element="tns:Build" />
  </wsdl:message>
  <wsdl:message name="BuildSoapOut">
    <wsdl:part name="parameters" element="tns:BuildResponse" />
  </wsdl:message>
  <wsdl:message name="PostSoapIn">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="PostSoapOut">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:portType name="transactionclassSoap">
    <wsdl:operation name="Build">
      <wsdl:input message="tns:BuildSoapIn" />
      <wsdl:output message="tns:BuildSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input message="tns:PostSoapIn" />
      <wsdl:output message="tns:PostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="transactionclassSoap" type="tns:transactionclassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Build">
      <soap:operation soapAction="http://www.syspro.com/ns/transaction/Build" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://www.syspro.com/ns/transaction/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="transactionclass">
    <wsdl:port name="transactionclassSoap" binding="tns:transactionclassSoap">
      <soap:address location="http://localhost/sysprowebservices/Transaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>